
.qh1{
    text-align: center;
    display: block;
    width: 400px;
    margin: 0 auto;
    font-size: 50px;
    color: white;
    background-color: rgb(154, 163, 163);
    box-shadow: rgb(121, 167, 167);
}
.qimg{
    margin: 0 auto;
    display: block;
    width: 400px;
}