
<h1>App-Clima</h1>
Ciudad : <input #miCiudad><br>
<button (click)="agregarCiudad(miCiudad.value); miCiudad.value = ''">Añadir</button>

<app-ciudades [alexis]="ciudades"></app-ciudades>

<div class="container">
    <ul>
    <li *ngFor= "let animal of animales">
        {{ animal }}
    </li>
    </ul>
</div>

<router-outlet>
        <a routerLink="quienes" class="cont" >Quienes</a>
        <a routerLink="contacto" class="cont">Contacto</a>
        <a routerLink="producto" class="cont">Producto</a>
        <a routerLink="productos" class="cont">Productos</a>
        <a routerLink="ponAlarma" class="cont">Alarma</a>
</router-outlet>
